
*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}

canvas {
    background: 
      linear-gradient(
        hsl(200, 50%, 80%) 0%, 
        hsl(200, 30%, 95%) 75%)
    ;
    display: block;
  }

  