
html,body{	
  margin:0;	
  padding:0;	
  position:relative;
}
body{
  background-image: url("../Img/background.jpg");
  background-repeat: no-repeat;
  height: 100px;
  background-size: cover;
}
/* #enemy{
  display: none;
} */
input{
  height: 70px;
}
.container1{
  color: white;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 6em;
  letter-spacing: 4px;
} 

#pauseBtn{
  position:fixed;
  bottom:50px;
  left:50%; 
  
}
#pauseBtn:hover{
  height: 90px;
}
#container4 {
  display: none;
  position: absolute;
  height: 350px;
  width: 700px;
  right: 340px;
  top: 150px;
  animation-name: jumpDown;
  animation-duration: 1s;
}
@keyframes jumpDown{
  from{top:0px;}
  to{top:150px;}
}
#close{
  position: absolute;
  top:11px;
  left: 480px;
  height: 50px;
}
#pauseSticker{
  height: 99px;
  position: absolute;
  left: 150px;
  bottom: 300px;
  
}
#pause{
  position: absolute;
  color:brown;
  left: 250px;
  bottom: 1100px;
  top: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 28px;

}

#pauseMenu{
  position: absolute;
  height: 320px;
}
.pauseList{
  position: absolute;
  top: 200px;
  margin-left: 40px;
  margin-right: 40px;
}

#reset{
  margin-left: 100px;
  margin-right: 100px;

}
@-webkit-keyframes bounce {
  0% {
transform: scale(1,1) translate(0px, 0px);
}
30%{
transform: scale(1,0.8) translate(0px, 10px); 
}
75%{
transform: scale(1,1.1) translate(0px, -25px); 
}
100% {
transform: scale(1,1) translate(0px, 0px);
}
}
#pauseSticker,#pause,#cont,#reset,#homePage,#close,.sound,.music{
  -webkit-animation: bounce 1s;
}
/*  */

.blue{
  position: absolute;
  right: 20px;
  top: 630px;
  
}
.score{
  position: absolute;
  color: white;
  font-weight: bold;
  margin: 0px;
  top: 20px;
  left: 65px;
  font-size: 2em;
}
#blueScore{
  position: absolute;
  left: 175px;
}
.red{
  position: absolute;
  top: 630px;
  left: 15px;
}
#redBtn,#blueBtn{
  height: 90px;
  position: absolute;
}
.base{
  height: 90px;
}
#redBtn{
  left: 3px;
}
#blueBtn{
  right: 0px;
}
/* sound css */
.sound,.music{
  position: absolute;
}
#playSound, #playMusic{
  position: absolute;
  height: 40px;
  left: 30px;
  
}
#off1,#off2{
  position: absolute;;
  height: 40px;
  left: 30px;
}
.sound{
  top: 80px;
  left: 320px;
}
.music{
  top: 80px;
  left: 80px;
}
.audioImg{
  position: absolute;
  height: 30px;
  top: 5px;
}
#offtxt1,#offtxt2{
  position: absolute;
  color:rgb(94, 57, 2);
  font-weight: bold;
  left: 90px;
  font-family:sans-serif;
}
/* canvas{
  position: absolute;
  border: 1px solid black;
  height: 580px;
  width: 1435px;
  top: 50px;
  left: 47px;
} */




