
html,body{	
    
  margin:0;	
  padding:0;	
  position:relative;
  height: 100%;
}
/* body{
  background-image: url("../Img/background.jpg");
  background-repeat: no-repeat;
  height: 100px;
  
} */
input{
  height: 70px;
}
.container1{
  color :black;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 6em;
  letter-spacing: 4px;
} 

#pauseBtn{
  position:fixed;
  bottom:50px;
  left:50%; 
  
}
#pauseBtn:hover{
  height: 90px;
}
#container4 {
  height: 700px;
  width: 700px;
  display: none;
  margin-left: 500px;
  margin-top: 190px;
}
#close{
  position: absolute;
  top:11px;
  left: 980px;
  height: 50px;
}
#pauseSticker{
  height: 99px;
  position: absolute;
  left: 650px;
  bottom: 650px;
  
}
#pause{
  position: absolute;
  color:brown;
  left: 750px;
  bottom: 1000px;
  top: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 28px;

}
.container3{
  position:fixed;
  bottom: 50px;
}
#pauseMenu{
  height: 320px;
}
.pauseList{
  position: absolute;
  top: 200px;
  margin-left: 40px;
  margin-right: 40px;
}
#reset{
  margin-left: 100px;
  margin-right: 100px;

}
@-webkit-keyframes bounce {
  0% {
transform: scale(1,1) translate(0px, 0px);
}
30%{
transform: scale(1,0.8) translate(0px, 10px); 
}
75%{
transform: scale(1,1.1) translate(0px, -25px); 
}
100% {
transform: scale(1,1) translate(0px, 0px);
}
}
#pauseSticker,#pause,#cont,#reset,#homePage,#close{
  -webkit-animation: bounce 1s;
}

.blue{
  height: 70px;
  margin-left: 1000px;
}
.red{
  height: 70px;
  right: 0px;
  margin-left: 29px;

}



