html{
    height: 100%;
}
body{
    /* background-image:url("../Img/dragon.jpg"); */
    background-image:url("../Img/dragons3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ourimages{
    margin-left: 50px;
    height: 100px;
}
#owner{
    height: 90px;
    width: 90px;
    margin-top: 30px;
    margin-left: 1100px;
    border-radius: 50px;
}
#play,#owner{
    -webkit-animation: bounce 1s infinite;
}
#play{
    position: fixed;
    bottom: 10px;
    left: 1000px;
    height: 80px;
    width: 250px;
}
@-webkit-keyframes bounce {
0% {
transform: scale(1,1) translate(0px, 0px);
}
30%{
transform: scale(1,0.8) translate(0px, 10px); 
}
75%{
transform: scale(1,1.1) translate(0px, -25px); 
}
100% {
transform: scale(1,1) translate(0px, 0px);
}
}
@keyframes animateDown{
    from{top:0px;}
    to{top:80px;}
  }