html{
    height: 100%;
}
body{
    background-image:url("../Img/home.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ourimages{
    margin-left: 50px;
    /* block-size: auto; */
}
#help{
    height: 70px;
    width: 70px;
    margin-top: 30px;
    border-radius: 50%
}
#owner{
    height: 90px;
    width: 90px;
    margin-top: 30px;
    margin-left: 1100px;
}
#play{
    position: fixed;
    bottom: 10px;
    left: 200px;
    height: 80px;
    width: 250px;
}
#names{
    display: none;
    margin-left: 550px;
    background-color:moccasin;
    list-style: none;
    width: 250px;
    border-radius: 25px;
    border: 4px solid orangered;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}
@keyframes example{
from{top:0px;}
to{top:100px;}
}
#exit{
    width:20px; 
    height:20px;
    margin-left: 210px;
    box-sizing: border-box;
}

