#box{
    width: 1105px;
    height: 506px;
    overflow: hidden;
    background: #EDBB99;
    box-shadow: 0 0 20px;
    border-radius: 9px;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 9999;
    padding: 10px;
    display: none;
}

#box span{
    display: block;
    color: yellowgreen;
    font-size: 41px;
}

.close{
    
    display: inline;
    position: fixed;
    font-size: 25px;
    margin-top: -68px;
    margin-left: 850px;
    color: #17202A;
    padding: 10px 30px;
    cursor: pointer;
    background: #E74C3C;
    border-radius: 50%;
}

#box #nextpage{
    position: fixed;
    height: 70px;
    width: 70px;
    margin-top: 194px;
    margin-left: 861px;
}

.box h3{
    display: inline;
}

#popcontainer{
    display: inline;
}

#firstpagemove{
    display: inline-block;
    width: 326px;
    height: 407px;
    margin-left: 44px;
    background: #E74C3C;
    border-radius: 15%;
}

#firstpagefire{
    display: inline-block;
    width: 326px;
    height: 407px;
    margin-left: 44px;
    background: #E74C3C;
    border-radius: 15%;
}