body{
    margin: 0;
    padding: 0;
    background: #58D68D  ;
}

.btn{
   position: absolute;
   top: 12%;
   left: 11%; 
   transform: translate(-50%,-50%);
   background: #EDBB99;
   font-size: 50px;
   color: white;
   padding: 10px 15px;
   border-radius: 50%;
   
   cursor: pointer;
}

#box{
    width: 1105px;
    height: 506px;
    overflow: hidden;
    background: #EDBB99;
    box-shadow: 0 0 20px;
    border-radius: 9px;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 9999;
    padding: 10px;
    display: none;
}

#box span{
    display: block;
    color: yellowgreen;
    font-size: 41px;
}

.close{
    position: fixed;
    font-size: 25px;
    margin-top: -4px;
    margin-left: 476px;
    color: #17202A;
    padding: 10px 30px;
    cursor: pointer;
    background: #E74C3C;
    
    border-radius: 50%;
}