#containerofmenus{
    display: none;
    position: absolute;
    left:380px;
    top:80px;
    transition: 350ms;
    animation-name: goDown;
    animation-duration: 1s;
}
#menuboard{
    width: 609px;
    height: 495px;
    position:absolute;
    border-radius: 15%;
    z-index: -1;
}
#sticker{
    position: absolute;
    left: 180px;
    top:-30px;
    height: 70px;
    width: 200px;
    -webkit-animation: bounce 1s;
}
#controlheader,#PowerUpheader,#Goalheader{
    position: absolute;
    left: 200px;
    top: -30px;
    width:200px;
    color: brown;
    font-family: arial;
    font-weight: bold;
    font-size: 28px;
    -webkit-animation: bounce 1s;
}
#updr{
    position:absolute;
    left: 50px;
    top:70px;
    height: 70px;
    border-radius:50px;
}
#up{
    position:absolute;
    top:70px;
    left:200px;
    height: 60px;
    width: 60px;
    border-radius:50px;
    -webkit-animation: bounce 1s;
}
#leftdr{
    position:absolute;
    height: 70px;
    border-radius:25px;
    left:50px;
    top:170px;
}
#left{
    position:absolute;
    top:170px;
    left:200px;
    height: 60px;
    width: 60px;
    border-radius:50px;
    -webkit-animation: bounce 1s;
}
#right{
    position:absolute;
    top:170px;
    left:350px;
    height: 60px;
    width: 60px;
    border-radius:50px;
    -webkit-animation: bounce 1s;
}
#rightdr{
    position:absolute;
    height: 70px;
    top:170px;
    left:470px;
    border-radius:25px;
}
#down{
    position:absolute;
    top:70px;
    left:350px;
    height: 60px;
    width: 60px;
    border-radius:50px;
    -webkit-animation: bounce 1s;
}
#downdr{
    position:absolute;
    height: 70px;
    top:70px;
    left:470px;
    border-radius:50px;
}
#space{
    position:absolute;
    border-radius:50px;
    top:260px;
    left:100px;
    width:150px;
    -webkit-animation: bounce 1s;
}
#shoot{
    left:300px;
    top:250px;
    width:190px;
}
#again{
    position:absolute;
    left:50px;
    top:340px;
    -webkit-animation: bounce 1s;
}
#againheader{
    left:150px;
    top:330px;
}
#stopgame{
    position:absolute;
    left:300px;
    top:340px;
    -webkit-animation: bounce 1s;
}
#stopheader{
    left:400px;
    top:330px;
}
#backhome{
    position:absolute;
    top:420px;
    left:300px;
    -webkit-animation: bounce 1s;
}
#backheader{
    top:410px;
    left:400px;
    width: 190px;
}
#resume{
    position:absolute;
    top:420px;
    left:50px;
    -webkit-animation: bounce 1s;
}
#resumeheader{
    top:410px;
    left:150px;
}
#starblock{
    position: absolute;
    left:50px;
    top:70px;
    background-color: burlywood;
    border-radius: 50px;
    width: 450px;
}
#lifeblock{
    position: absolute;
    left:50px;
    top:170px;
    background-color: burlywood;
    border-radius: 50px;
    width: 450px;
}
#starpower{
    -webkit-animation: bounce 1.5s infinite;
}
#lifepower{
    width: 34px;
    height: 34px;
    -webkit-animation: bounce 1.5s infinite;
}
p{
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    font-size: 18px;
    color: brown;
}
#shoot,#againheader,#stopheader,#backheader,#resumeheader{
    position:absolute;
    color: rgb(77, 4, 77);
    font-family: arial;
    font-weight: bold;
    font-size: 28px;
    background-color:burlywood;
}
#close{
    background: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 530px;
    -webkit-animation: bounce 1s;
}
#close a{
    color: white;
    font-size: 44px;   
}
#close a:hover{
    transform:rotate(45deg);
}
@keyframes goDown{
    from{top:0px;}
    to{top:80px;}
  }
@-webkit-keyframes bounce {
    0% {
    transform: scale(1,1) translate(0px, 0px);
    }
    30%{
    transform: scale(1,0.8) translate(0px, 10px); 
    }
    75%{
    transform: scale(1,1.1) translate(0px, -25px); 
    }
    100% {
    transform: scale(1,1) translate(0px, 0px);
    }
    }