#canvas1{
    /* border: 1px solid black; */
    width: 1440px; ;
    height:580px;
    position:absolute;
    top: 330px;
    left: 50%;
    bottom: 335px;
    z-index: -1;
    transform:translate(-50%,-50%)
}